body {
    background-color: #f5f5dd;
}

div.kwadrat {
    width: 160px;
    height: 160px;
    margin: 20px;
}
div.kwadrat1 {
    background: black;
}
div.kwadrat2 {
    background: rgba(0,0,0,.75); 
}
div.kwadrat3 {
   background: rgba(0,0,0,.5); 
}
div.kwadrat4 {
    background: rgba(0,0,0,.25); 
}